<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>Sobre mi</h2>
      <a download="Sintesis-curricular" href="./assets/cv/cv_Luis_Rodriguez2022.pdf" class="btn btn-azul" id="btn"><i
          class="fa fa-download"></i> Descarga CV</a>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Luis Enrique Rodriguez Jimenez</h3>
        <p class="fst-italic">
          <strong>Graduado en: Ingenieria informática</strong>
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Cumpleaños:</strong> <span>27 Oct 1995</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Telefono:</strong> <span>+58 424 597 8943</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>Baquisimeto, Ven</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>26</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Correo:</strong>
                <span>kike.lerj2710@gmail.com</span>
              </li>
              <li><i class="bi bi-chevron-right"></i> <strong>Ingles:</strong> <span>Intermedio</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          Todo el mundo puede aprender a programar, siempre y cuando consiga la motivación necesaria para hacerlo.
          <br /> Los sueños y la programacion te transportan a una realidad alternativa, sueño que puedo programar, con
          mis pensamientos y hacerlo realidad. <br /><br /><small> <b><i> Haz que tus sueños sean mas grandes que tus miedos; aunque
          parezcan imposible con esfuerzo y constancia, se volveran inevitables</i></b></small>
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->