<header id="header">
    
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="/">{{nombre}}</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="https://github.com/lerj2710" target="_blank" class="twitter"><i class="fa fa-github"></i></a>
                <a href="https://www.instagram.com/luis.rodrigz27/" target="_blank" class="instagram"><i
                        class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/lerodriguezj-2710/" target="_blank" class="linkedin"><i
                        class="fa fa-linkedin"></i></a>
            </div>
        </div>
        {{!-- navbar --}}
       {{> navbar }}
    </div>
</header><!-- End Header -->