  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>{{nombre}}</h1>
      <p>{{dedicacion}} <span class="typed" data-typed-items=" Web, en App Moviles, Backend"></span></p>
    </div>
    <video class="video" autoplay muted loop>
      <source src="./assets/video/bg.mp4" type="video/mp4">
    </video>
  </section><!-- End Hero -->