<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Resumen</h2>
      <p>Con esfuerzo y dedicación todo lo puedes lograr en la vida, nunca rendirse es la clave del exito. <br /> Puedo
        trabajar bajo presión, soy puntual y creativo.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Años Experiencia</h3>
        <div class="resume-item pb-0">
          <h4>{{nombre}}</h4>
          <p><em> Joven Developer Backend en NodeJs, con 3 años de Experiencia en Api's, manejo de base de datos y
              conocimientos amplios en vanilla JavaScript</em></p>
          <ul>
            <h5><b>Palabras clave:</b></h5>
            <li>Persitir</li>
            <li>Insitir</li>
            <li>Nunca Desistir</li>
          </ul>
        </div>

        <h3 class="resume-title">Educación</h3>
        <div class="resume-item">
          <h4>BACHILLER EN CIENCIAS</h4>
          <h5>2008 - 2013</h5>
          <p><em>UNIDAD EDUCATICA COLEGIO YACAMBU</em></p>

        </div>
        <div class="resume-item">
          <h4> NGENIERO EN INFORMATICA</h4>
          <h5>2014 - 2019</h5>
          <p><em>UNIVERSIDAD NACIONAL EXPERIMENTAL DE LOS LLANOS CENTRALES ROMULO GALLEGOS</em></p>

        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Experiencia Professional</h3>
        <div class="resume-item">
          <h4>ANALISTA DE SISTEMA</h4>
          <h5>2018 - 2020</h5>
          <p><em>Venezuela, Barquisimeto, IMCA. </em></p>
          <ul>
            <li>Trabaje por 2 años y medio como analista en el sistema de bienes y mejora de la interfaz y el manejo,
              control y gestión (CRUD). Utilizando MYSQL como base de datos relacional.</li>
            <li>Y actualizando el sitio web con PHP usando como framework Laravel 5.5.</li>
            <li>Actualizar el sitema de bienes en JavaScript.</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4> Business Intelligence & Technology Solutions</h4>
          <h5>2022 </h5>
          <p><em>Ecuador, Guayaquil, Bitekso S.A.</em></p>
          <ul>
            <li>Backend Developer.</li>
            <li>Api-REST full.</li>
            <li>NodeJs.</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->